.todos{
    margin-top: 50px;
    height: 300px;
    overflow-y: auto;

    &-item{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-left: 2px solid #2196f3 ;
        position: relative;
        font-size: 24px;
        &.completed{
            .todos-text{
                text-decoration: line-through;
            }
        }
        &.important{
            .todos-text{
                color:rgb(207, 95, 29);
                font-weight: 500;
                
            }
        }
    }

    &-btns{
        margin-left: auto;
        display: flex;
        
        i{
            margin: 0 5px;
            z-index: 1;
            &:hover{
                transform: scale(1.3);
                transition: .3s ease;
            }
        }
    }
}
.active-todos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}